#adminPanelLabel {
    -fx-background-image: url("../img/rightPaneName/adminPanel.png");
    -fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    -fx-font-family: FreeSerif;
    -fx-font-size: 40;
    -fx-text-alignment: center;
    -fx-underline: true;
}

#buttonsGrid {
    -fx-background-image: url("../img/geometric-background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#insideGrid {
    -fx-background-color: #aeaeb3;
}

.button {
    -fx-text-fill: black;
    -fx-font-family: FreeSerif;
    -fx-text-alignment: center;
    -fx-font-size: 20 px;
}

.toggle-button {
    -fx-text-fill: black;
    -fx-font-family: FreeSerif;
    -fx-text-alignment: center;
    -fx-font-size: 20 px;
}