#firmDetailsLabel {
    -fx-background-image: url("../img/rightPaneName/firmDetails.png");
    -fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    -fx-font-family: FreeSerif;
    -fx-font-size: 40;
    -fx-text-alignment: center;
    -fx-underline: true;
}

#insideGrid {
    -fx-background-color: #aeaeb3;
}

#searchField {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.toggle-button {
    -fx-font-size: 10;
    -fx-background-image: url("../img/edit.png");
    -fx-background-size: 40 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

.button {
    -fx-font-size: 20;
    -fx-font-family: FreeSerif;
    -fx-border-radius: 30%;
    -fx-background-radius: 30%;
}