/**
 * Author: Afif Al Mamun
 * Written on: 08-Jul-18
 * Project: TeslaRentalInventory
 **/

.split-pane > .split-pane-divider {
    -fx-background-color: darkgrey;
}

.root {
    -fx-background-color: ghostwhite;
}

.button {
    -fx-text-fill: black;
    -fx-font-family: FreeSerif;
    -fx-text-alignment: center;
    -fx-font-size: 20 px;
}

/*.button:pressed:hover {*/
/*    -fx-background-color: grey;*/
/*    -fx-font-weight: bold;*/

/*}*/

.button:hover {
    -fx-background-color: wheat;
    -fx-font-family: FreeSerif;
    -fx-font-size: 20px;

}

#paneRight {
    -fx-border-color: white;
}

#leftPane {
    -fx-background-color: #aeaeb3;
}
/*#paneAccountSection {*/
/*    !*-fx-background-color: #37474F;*!*/
/*    -fx-border-color: #ffffff;*/
/*    -fx-border-radius: 10 10 10 10;*/
/*}*/

/*.jfx-snackbar-content {*/
/*    -fx-background-color: red;*/
/*    -fx-text-fill: white;*/
/*    -fx-background-radius: 10 10 10 10;*/
/*}*/
/*.jfx-snackbar-toast {*/
/*    -fx-text-fill: white;*/
/*}*/